[submodule "modules/rvm"]
	path = modules/rvm
	url = git://github.com/blt04/puppet-rvm.git
[submodule "modules/common"]
	path = modules/common
	url = https://github.com/camptocamp/puppet-common.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/omarqureshi/puppet-apt.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/omarqureshi/puppet-postgresql.git
[submodule "modules/augeas"]
	path = modules/augeas
	url = https://github.com/camptocamp/puppet-augeas.git
